.setup-game {
    -fx-background-color: #000000;
    -fx-alignment: center;
}

.setup-game__description-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.setup-game__btn {
    -fx-padding: 8px 16px;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

.setup-game__btn:hover {
    -fx-background-color: #d8d8d8;
}